<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.quist.app.mapsabstraction.example">

    <application>
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDVnORsCwUBp00MpldMw6wh8wuilL0YAnU"/>
    </application>


</manifest>
